<section class="p-user-profile">
  <%= render "components/user_header", user: @user %>

  <div class="p-user-profile__content">
    <%= render "components/user_bio", bio: @user.bio %>

    <% if @user.get_most_recent_posts.length.zero? %>
      <div class="c-card">
        <p>No posts created.</p>
      </div>
    <% else %>
       <%= render "components/posts_preview", user: @user %>
    <% end %>
  </div>

</section>